<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center mb-3">
    <h5>Shipments</h5>
    <a href="/" class="btn btn-secondary">Home</a>
  </div>

  <div class="card-body">
    <form [formGroup]="filterForm" class="filter-form">
      <div class="m-3 d-inline-block">
        <label for="shipmentNumber" class="form-label">Shipment number</label>
        <input class="form-control" formControlName="shipmentNumber" id="shipmentNumber" />
      </div>
      <div class="m-3 d-inline-block">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" formControlName="status" id="status">
          <option value="">Select Status</option>
          <option *ngFor="let status of shipmentStatuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>

      <div class="m-3 d-inline-block">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" formControlName="type" id="type">
          <option value="">Select Type</option>
          <option *ngFor="let type of shipmentTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <div class="m-3 d-inline-block">
        <label for="weightCategory" class="form-label">Weight Category</label>
        <select class="form-select" formControlName="weightCategory" id="weightCategory">
          <option value="">Select Category</option>
          <option *ngFor="let category of weightCategories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <div class="m-3 d-inline-block">
        <label for="originZipCode" class="form-label">Origin Post Office</label>
        <select class="form-select" formControlName="originZipCode" id="originZipCode">
          <option value="">Select Origin Post Office</option>
          <option *ngFor="let office of postOffices" [value]="office.zipCode">
            {{ office.zipCode }} - {{ office.name }}
          </option>
        </select>
      </div>

      <div class="m-3 d-inline-block">
        <label for="destinationZipCode" class="form-label">Destination Post Office</label>
        <select class="form-select" formControlName="destinationZipCode" id="destinationZipCode">
          <option value="">Select Destination Post Office</option>
          <option *ngFor="let office of postOffices" [value]="office.zipCode">
            {{ office.zipCode }} - {{ office.name }}
          </option>
        </select>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-secondary" (click)="resetFilters()">Reset Filters</button>
      </div>    
    </form>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Shipment number</th>
          <th>Type</th>
          <th>Status</th>
          <th>Weight</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="dataToDisplay.length === 0">
          <td class="no-data" colspan="8">No data to display</td>
        </tr>
        <tr *ngFor="let element of dataToDisplay">
          <td>{{ element.index }}</td>
          <td>{{ element.shipmentNumber }}</td>
          <td>{{ element.type }}</td>
          <td>{{ element.status }}</td>
          <td>{{ element.actualWeight }}kg</td>
          <td>{{ element.originZipCode }}</td>
          <td>{{ element.destinationZipCode }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/shipments', element.shipmentNumber, 'edit']">
              Edit
            </button>
            <button class="btn btn-danger" (click)="onDeleteShipment(element.shipmentNumber)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>

        <li *ngFor="let page of numberOfPages" class="page-item" [class.active]="page === currentPage">
          <button class="page-link" (click)="onPageChange(page)">
            {{ page }}
          </button>
        </li>

        <li class="page-item" [class.disabled]="currentPage === numberOfPages.length || dataToDisplay.length === 0">
          <button class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>